/* body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
} */
/* #box1 {
    background-color: yellow;
    width: 100PX;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: all;
    transition-duration: 2s;
 } */
 /* #box1:hover {
    background-color: lightskyblue;
    font-size: 100px;
    width: 200PX;
    height: 200px;
    transform: translateY(150px);transform: translateX(150px);transform: rotate(360deg);
 } */
 /* NarBar */

 .navbar {
    position: relative; /* Fixes the element relative to the viewport */
    top: 0; /* Positions it at the top */
    left: 0; /* Positions it at the left edge */
    width: 100%; /* Makes the navbar full-width */
    background-color: #8b888875; /* Background color for visibility */
    color: #131212; /* Text color */
    padding: 0%; /* Padding for spacing */
    z-index: 1000; /* Ensures it stays on top of other content */
  
}
 
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c5c5c5;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: rgb(17, 16, 16);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #9c9c9c;
}

.active {
  background-color: #55585754;
}

.login-user {
  height: 1em;
  margin-right: 0.5em;
  vertical-align: bottom;
}

#ABOUT {
text-align: center;
font-style: italic;
font-family: 'Times New Roman', Times, serif;
}